.kaufman__triangle {
  background-image: url(../../../images/triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 995px;
  height: 1006px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}
